<%= form_for(staff) do |f| %>

  <div class="form-group">
    <div class="row">
      <div class="col">
        <%= f.text_field :first_name, autofocus: true, class: 'form-control', placeholder: "First Name" %>
      </div>
      <div class="col">
        <%= f.text_field :last_name, autofocus: true, class: 'form-control', placeholder: "Last Name" %>
      </div>
      <div class="col">
        <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: "Email Address" %>
      </div>
    </div>          
  </div>
  <br>
  <div class="form-group">
    <div class="row">
      <div class="col">
        <%= f.text_field :phone_number, autofocus: true, class: 'form-control', placeholder: "Contact Number" %>
      </div>
      <div class="col">
        <%= f.text_field :designation, autofocus: true, class: 'form-control', placeholder: "Designation" %>
      </div>
      <div class="col">
        <%= f.text_field :age, autofocus: true, class: 'form-control', placeholder: "Age" %>
        <%= f.hidden_field :admin, value: true %>
      </div>
    </div>
  </div><br>
  <div class="form-group">
    <div class="row">
    	<div class="col">
    		<%= f.select :department_id, Department.all.collect {|dep| [ dep.name, dep.id ] }, { include_blank: true}, class: 'form-control select2_dropdown department_dropdown', style:"width:100%;" %>
    	</div>
    	<div class="col">
    		<%= f.select :accessible_department_ids, Department.all.collect {|dep| [ dep.name, dep.id ] }, {}, multiple: true, class: 'form-control select2_dropdown multiple_department_dropdown', style:"width:100%;" %>
    	</div>
    </div>
  </div>
    <br>
  <div class="text-center">
    <%= f.submit "Submit", class: "btn btn-primary submit-btn" %>
  </div>
<% end %>

<style type="text/css">
  input.form-control{
    height: 28px !important;
  }
</style>