<h1>Signup!</h1> <%= link_to 'Login', '/login' %>

<%= form_for :user, url: '/users' do |f| %>

  <div class="form-group">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, autofocus: true, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, autofocus: true, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
  </div>
  
  <%= f.hidden_field :user_type, value: :patient %>
  <%= f.hidden_field :registration_status, value: :registration_not_done %>


 <div class="form-group">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
  </div>
  
  <!--
  <div class="form-group">
    <%= f.label :age %><br />
    <%= f.number_field :age, autocomplete: "off", class: 'form-control' %>
  </div> -->

  <div class="form-group">
    <%= f.label :contact_number %><br />
    <%= f.text_field :phone_number, autocomplete: "off", class: 'form-control' %>
  </div>

  <div class="form-check form-check-inline">
    <%= f.label :appointment_type %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <%= f.radio_button :appointment_type, :new_appointment, checked: true, class: 'form-check-input' %>
    <%= f.label :new_appointment, class: "form-check-label" %>&nbsp;&nbsp;&nbsp;
    <%= f.radio_button :appointment_type, :follow_through, class: 'form-check-input' %>
    <%= f.label :follow_through, class: "form-check-label" %>&nbsp;&nbsp;&nbsp;
    <%= f.radio_button :appointment_type, :re_visit, class: 'form-check-input' %>
    <%= f.label :re_visit, class: "form-check-label" %>
  </div>

  <div class="form-group">
    <%= f.label :select_doctor %><br />
    <%= f.select :doctor_id, Doctor.all.collect {|d| [ d.full_name, d.id ] }, { include_blank: true }, class: 'form-control' %>
  </div>
  
  <%= link_to 'Book a slot', '#', class: "btn btn-primary", data: { "toggle" => "modal", 'target' => "#slot-booking-modal" } %>
  
  <!-- Modal -->
		<div class="modal fade" id="slot-booking-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		        <div id="calendar"></div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		      </div>
		    </div>
		  </div>
		</div>
  <div class="form-group">
    <%= f.label :appointment_date %><br />
    <%= f.date_select :appointment_date, include_blank: true, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class: "btn btn-primary" %>
  </div>
<% end %>

<style type="text/css">
	#slot-booking-modal .modal-content {
  width: 680px;
  margin-left: -90px;
}
.fc-axis{
	width: 45px !important;
}
</style>