<%= form_for(patient) do |f| %>
  <% if patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
      <% patient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <% if f.object.new_record? %>
    <div class="field">
      <%= f.label :first_name %>
      <%= f.text_field :first_name %>
    </div>

    <div class="field">
      <%= f.label :last_name %>
      <%= f.text_field :last_name %>
    </div>

    <div class="field">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>

    <div class="field">
      <%= f.label :contact_number %>
      <%= f.text_field :phone_number %>
    </div>
  <% else %>
    <div class="field">
      <%= f.label :first_name %>
      <%= f.text_field :first_name, disabled: true %>
    </div>

    <div class="field">
      <%= f.label :last_name %>
      <%= f.text_field :last_name, disabled: true %>
    </div>

    <div class="field">
      <%= f.label :email %>
      <%= f.text_field :email, disabled: true %>
    </div>

    <div class="field">
      <%= f.label :contact_number %>
      <%= f.text_field :phone_number, disabled: true %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :address_line1 %>
    <%= f.text_field :address_line1 %>
  </div>
  
  <div class="field">
    <%= f.label :address_line2 %>
    <%= f.text_field :address_line2 %>
  </div>
  
  <div class="field">
    <%= f.label :country %>
    <%= f.select :country, CS.get.collect {|key,value| [ value, key ] }, {include_blank: true}, { class: 'select2_dropdown country_dropdown' } %>
  </div>
  
  <div class="field">
    <%= f.label :state %>
    <%= f.select :state, CS.states(:us).values, {include_blank: true}, { class: 'select2_dropdown state_dropdown' } %>
  </div>

  <div class="field">
    <%= f.label :city %>
    <%= f.select :city, CS.cities(:ak, :us), {include_blank: true}, { class: 'select2_dropdown city_dropdown' } %>
  </div>

  <div class="field">
    <%= f.label :pincode %>
    <%= f.text_field :pincode %>
  </div>

  <div class="field">
    <%= f.label :age %>
    <%= f.text_field :age %>
  </div>
  
  <div class="field">
    <%= f.label :gender %>
    <%= f.text_field :gender %>
  </div>
  
  <div class="field">
    <%= f.label :blood_group %>
    <%= f.text_field :blood_group %>
  </div>
  
  <%= f.hidden_field :registration_status, value: :registration_done %>

  <% if f.object.new_record? %>
    <%= f.fields_for :appointments do |appointment| %>
      
      <br>
  <%= link_to 'Book a slot', '#', class: "btn btn-primary", data: { "toggle" => "modal", 'target' => "#slot-booking-modal" } %>
  
  <!-- Modal -->
    <div class="modal fade" id="slot-booking-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
              <%= appointment.label :select_doctor %>&nbsp;&nbsp;<%= appointment.select :doctor_id, Doctor.all.collect {|d| [ d.full_name, d.id ] }, { include_blank: true }, class: 'form-control select2_dropdown doctor_dropdown' %>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div id="calendar"></div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <%= appointment.hidden_field :start_time %>
    <%= appointment.hidden_field :end_time %>
    <%= appointment.hidden_field :appointment_type, value: :new_appointment %>
    <%= appointment.hidden_field :status, value: :confirmed %>
    <% end %>
  <% end %>
  
  <div class="field">
    <%= f.label :select_patient_type %>
    <%= f.select :patient_type, Patient.patient_types.map { |key, value| [key.humanize, key] },{},{ class: 'select2_dropdown patient_type_dropdown' } %>
  </div>
  
  <div class="inpatient-fields" style="display: none;">
    <div class="field">
      <%= label_tag :select_ward %><br/>
      <%= select_tag :ward_id, options_for_select(Ward.all.collect {|w| [ w.name, w.id ] }), { class: 'select2_dropdown ward_dropdown' } %>
    </div>

    <div class="field">
      <%= label_tag :select_bed %><br/>
      <%= select_tag :bed_id, options_for_select(@general_ward.beds.where(status: :vacant).collect {|b| [ b.bed_no, b.id ] }), { class: 'select2_dropdown bed_dropdown' } %>
    </div>
  </div>

  <%= f.fields_for :bills do |bill| %>
    <div class="field">
      <%= bill.label :select_bill_types %><br/>
      <%= bill.collection_check_boxes :bill_type_ids, BillType.all, :id, :name do |b| %>
        <div class="collection-check-box">
          <%= b.check_box %>
          <%= b.label %>
        </div>
      <% end %>
    </div>
  
  <div class="field">
    <%= bill.label :registration_fee %>
    <%= bill.number_field :registration_fee, step: :any %>
  </div>

  <div class="field">
    <%= bill.label :doctor_fee %>
    <%= bill.number_field :doctor_fee, step: :any %>
  </div>

  <div class="field">
    <%= bill.label :pharmacy_bill %>
    <%= bill.number_field :pharmacy_bill, step: :any %>
  </div>

  <div class="field">
    <%= bill.label :maintenance_fee %>
    <%= bill.number_field :maintenance_fee, step: :any %>
  </div>

  <div class="field">
    <%#= f.label :tax %>
    <%#= f.number_field :tax, step: :any %>
  </div>
  
  <div class="field">
    <%= bill.label :paid_with %>
    <%= bill.select :paid_with, Bill.payment_types.map { |key, value| [key.humanize, key] } %>
  </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>