<%= form_for(patient) do |f| %>
  <% if patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
      <% patient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-group">
    <div class="row">
      <div class="col">
        <%= f.text_field :first_name, autofocus: true, class: 'form-control', placeholder: "First Name", disabled: f.object.new_record? ? false : true %>
      </div>
      <div class="col">
        <%= f.text_field :last_name, autofocus: true, class: 'form-control', placeholder: "Last Name", disabled: f.object.new_record? ? false : true %>
      </div>
      <div class="col">
        <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: "Email Address", disabled: f.object.new_record? ? false : true %>
      </div>
    </div>          
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col">
        <%= f.text_field :phone_number, autofocus: true, class: 'form-control', placeholder: "Contact Number", disabled: f.object.new_record? ? false : true %>
      </div>
      <div class="col">
        <%= f.text_field :address_line1, autofocus: true, class: 'form-control', placeholder: "Address Line 1" %>
      </div>
      <div class="col">
        <%= f.text_field :address_line2, autofocus: true, class: 'form-control', placeholder: "Address Line 2" %>
      </div>
    </div>
  </div>
  
  <div class="form-group">
    <div class="row">
      <div class="col">
        <%= f.select :country, CS.get.collect {|key,value| [ value, key ] }, {include_blank: true}, { class: 'select2_dropdown country_dropdown form-control' } %>
      </div>
      <div class="col">
        <%= f.select :state, CS.states(:us).values, {include_blank: true}, { class: 'select2_dropdown state_dropdown form-control' } %>
      </div>
      <div class="col">
        <%= f.select :city, CS.cities(:ak, :us), {include_blank: true}, { class: 'select2_dropdown city_dropdown form-control' } %>
      </div>
      <div class="col">
        <%= f.text_field :pincode, autofocus: true, class: 'form-control', placeholder: "Pincode" %>
      </div>
    </div>
  </div>
  
  <div class="form-group">
    <div class="row">
      <div class="col">
        <%= f.text_field :age, autofocus: true, class: 'form-control', placeholder: "Age" %>
      </div>
      <div class="col">
        <%= f.text_field :gender, autofocus: true, class: 'form-control', placeholder: "Gender" %>
      </div>
      <div class="col">
        <%= f.text_field :blood_group, autofocus: true, class: 'form-control', placeholder: "Blood Group" %>
      </div>
    </div>
  </div>
  
  <%= f.hidden_field :registration_status, value: :registration_done %>

  <% if f.object.new_record? %>
    <%= f.fields_for :appointments do |appointment| %>
      
      <br>
  <div class="text-center">
    <%= link_to '#',  title: "Select a slot", data: { "toggle" => "modal", 'target' => "#slot-booking-modal" } do %>
        <i class="fa fa-calendar" style="font-size: 25px;"></i>
    <% end %>
  </div><br>
  
  <!-- Modal -->
    <div class="modal fade" id="slot-booking-modal" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
              <%= appointment.select :doctor_id, Doctor.all.collect {|d| [ d.full_name, d.id ] }, { include_blank: true }, class: 'form-control select2_dropdown doctor_dropdown', style:"width:50%;" %>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div id="calendar"></div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <%= appointment.hidden_field :start_time %>
    <%= appointment.hidden_field :end_time %>
    <%= appointment.hidden_field :appointment_type, value: :new_appointment %>
    <%= appointment.hidden_field :status, value: :confirmed %>
    <% end %>
  <% end %>
  
  <div class="form-group">
    <div class="row">
      <div class="col">
        <%= f.select :patient_type, Patient.patient_types.map { |key, value| [key.humanize, key] },{},{ class: 'select2_dropdown patient_type_dropdown', style:"width:100%;" } %>
      </div>
      <div class="col">
        <%= select_tag :ward_id, options_for_select(Ward.all.collect {|w| [ w.name, w.id ] }), { class: 'select2_dropdown ward_dropdown', style:"width:100%;", disabled: true } %>
      </div>

      <div class="col">
        <%= select_tag :bed_id, options_for_select(@general_ward.beds.where(status: :vacant).collect {|b| [ b.bed_no, b.id ] }), { class: 'select2_dropdown bed_dropdown', style:"width:100%;", disabled: true } %>
      </div>
    </div>
  </div>
  
  <%= f.fields_for :bills do |bill| %>
    <div class="form-group">
      <%= bill.label :select_bill_types %><br/>
      <div class="row">
        <%= bill.collection_check_boxes :bill_type_ids, BillType.all, :id, :name do |b| %>
          <div class="col">
            <%= b.check_box class: 'form-check-input' %>
            <%= b.label class: "form-check-label" %>
          </div>
        <% end %>
      </div>
    </div>
  
  <div class="form-group">
    <div class="row">
      <div class="col">
        <%= bill.text_field :registration_fee, autofocus: true, class: 'form-control', placeholder: "Registration Fee" %>
      </div>
      <div class="col">
        <%= bill.text_field :doctor_fee, autofocus: true, class: 'form-control', placeholder: "Doctor Fee" %>
      </div>
      <div class="col">
        <%= bill.text_field :pharmacy_bill, autofocus: true, class: 'form-control', placeholder: "Pharmacy Bill" %>
      </div>
      <div class="col">
        <%= bill.text_field :maintenance_fee, autofocus: true, class: 'form-control', placeholder: "Maintenance Fee" %>
      </div>
      <div class="col">
        <%= bill.select :paid_with, Bill.payment_types.map { |key, value| [key.humanize, key] }, {}, { class: 'select2_dropdown payment_type_dropdown',style:"width:100%;" } %>
      </div>
    </div>
  </div>
  <% end %>
  <div class="text-center">
    <%= f.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>