<p id="notice"><%= notice %></p>

<h1>Patients</h1>
<table id="patients-data-table" class="table table-striped table-bordered data-table" style="width:100%">
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Registration status</th>
      <th>UHID</th>
      <th>Patient type</th>
      <th>Assigned doctor</th>
      <th>Action</th>
      <th>Action</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @confirmed_appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.patient.first_name %></td>
        <td><%= appointment.patient.last_name %></td>
        <td><%= appointment.patient.registration_status %></td>
        <td><%= appointment.patient.uhid %></td>
        <td><%= appointment.patient.patient_type %></td>
        <td><%= appointment.doctor.full_name %></td>
        <td><%= link_to 'Show', appointment.patient %></td>
        <td><%= link_to 'Edit', edit_patient_path(appointment.patient) %></td>
        <td><%= link_to 'Destroy', appointment.patient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Patient', new_patient_path %>
