<%= form_for(nurse) do |f| %>
  <div class="form-group">
    <div class="row">
      <div class="col">
        <%= f.text_field :first_name, autofocus: true, class: 'form-control', placeholder: "First Name" %>
      </div>
      <div class="col">
        <%= f.text_field :last_name, autofocus: true, class: 'form-control', placeholder: "Last Name" %>
      </div>
      <div class="col">
        <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: "Email Address" %>
      </div>
    </div>          
  </div>
  <br>
  <div class="form-group">
    <div class="row">
      <div class="col">
        <%= f.text_field :phone_number, autofocus: true, class: 'form-control', placeholder: "Contact Number" %>
      </div>
      <div class="col">
        <%= f.text_field :designation, autofocus: true, class: 'form-control', placeholder: "Designation" %>
      </div>
      <div class="col">
        <%= f.text_field :age, autofocus: true, class: 'form-control', placeholder: "Age" %>
      </div>
    </div>
  </div><br>
  <div class="text-center">
    <%= f.submit "Submit", class: "btn btn-primary submit-btn" %>
  </div>
<% end %>
