<%= form_for(report) do |f| %>
  <div class="form-group">
    <div class="row">
      <div class="col">
        <%= f.text_field :name, autofocus: true, class: 'form-control', placeholder: "Name" %>
      </div>
      <div class="col">
        <%= f.select :report_type, Report.report_types.map { |key, value| [key.humanize, key] }, { include_blank: true }, class: 'form-control select2_dropdown report_type_dropdown', style:"width:100%;" %>
      </div>
      <div class="col">
        <%= f.select :department_id, Department.all.collect {|dep| [ dep.name, dep.id ] }, { include_blank: true}, disabled: true, class: 'form-control select2_dropdown department_dropdown', style:"width:100%;" %>
      </div>
    </div>
    <br><br>
    <div class="row">
      <div class="col">
        <%= f.text_area :description, autofocus: true, class: 'form-control', placeholder: "Description", style: "width: 50%;margin-left:25%;" %>
      </div>
    </div>      
  </div>
  <div class="text-center" style="margin-top: 15%;">
    <%= f.submit "Submit", class: "btn btn-primary submit-btn" %>
  </div>
<% end %>

<style type="text/css">
  input.form-control{
    height: 28px !important;
  }
</style>