<!-- page content -->
<div class="right_col" role="main">
    <% flash.each do |key, value| %>
      <div class="flash-message text-center"><%= value %></div>
    <% end %>
    <div class="row index-row">

      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel" style="height:700px;">
          <div class="x_title">
          	<h2 style="text-align: center;float: none !important;">Employee Details Report</h2><br><br><br>
          	<%= form_tag preview_report_path, remote: true %>
	            <% @edr_rows.each_slice(3) do |rows| %>
	              <div class="row">
	                <% rows.each do |row| %>
	                  <div class="col">
	                    <%= check_box_tag 'report_filters[]', row,false,class: 'icheck-flat' %>&nbsp;&nbsp;<%= row.humanize.titleize %><br><br>
	                  </div>
	                <% end %>
	              </div>
	            <% end %>
	            <%= hidden_field_tag :short_name, 'EDR' %>
	            <br>
	            
	            <div class="input-group input-daterange" style="width: 50% !important;">
						    <div class="input-group-prepend">
						      <div class="input-group-text"><i class="fa fa-calendar" aria-hidden="true"></i></div>
						    </div>
						    <input type="text" name="from_date" class="form-control datepicker">
						    <div class="input-group-prepend">
						      <div class="input-group-text">To</div>
						    </div>
						    <input type="text" name="to_date" class="form-control datepicker" data-date-end-date="0d">
						    <div class="input-group-prepend">
						      <div class="input-group-text"><i class="fa fa-calendar" aria-hidden="true"></i></div>
						    </div>
						  </div>
						  <br><br>
						<div class="text-center">
	            <%= submit_tag 'Preview', class: 'btn btn-primary submit-btn'%>
	          </div>
          <div class="clearfix"></div><br>
          <!-- Modal -->
            <div class="modal fade decline-modal" id="edr-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /page content -->

<!--Test Page specific JS -->
<script> //alert ('Test Page specific JS')</script>