<!-- page content -->
<div class="right_col" role="main">
    <% flash.each do |key, value| %>
      <div class="flash-message text-center"><%= value %></div>
    <% end %>
    <div class="row index-row">

      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel" style="height:700px;">
          <div class="x_title">
          	<%= form_tag report_filters_path, remote: true %>
	            <% @edr_rows.each do |row| %>
	              <%= check_box_tag 'report_filters[]', row,false,class: 'icheck-flat' %>&nbsp;&nbsp;<%= row.humanize.titleize %><br><br>
	            <% end %>
	            <%= hidden_field_tag :report, 'employee_details_report' %>
            <%= submit_tag 'Preview', class: 'btn btn-primary text-center' %>
          <div class="clearfix"></div><br>
          <!-- Modal -->
            <div class="modal fade decline-modal" id="edr-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                  </div>
                </div>
              </div>
            </div>
          <div class="display-report"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /page content -->

<!--Test Page specific JS -->
<script> //alert ('Test Page specific JS')</script>