<ul class="nav side-menu">
	<% if current_page?(department_dashboard_path(current_staff, current_department)) %>
    <li class="current-page">
      <%= link_to department_dashboard_path(current_staff, current_department), data: { turbolinks: false} do %>
        <i class="fa fa-home" aria-hidden="true"></i>Dashboard
      <% end %>
    </li>
  <% else %>
    <li>
      <%= link_to department_dashboard_path(current_staff, current_department), data: { turbolinks: false} do %>
        <i class="fa fa-home" aria-hidden="true"></i>Dashboard
      <% end %>
    </li>
  <% end %>
  <li>
    <%= link_to blood_banks_path, data: { turbolinks: false} do %>
     <i class="fa fa-pencil-square-o" aria-hidden="true"></i>Blood Banks
    <% end %>
  </li>
  <li>
    <%= link_to blood_groups_path, data: { turbolinks: false} do %>
     <i class="fa fa-pencil-square-o" aria-hidden="true"></i>Blood Groups
    <% end %>
  </li>
  <li>
    <%= link_to blood_donors_path, data: { turbolinks: false} do %>
     <i class="fa fa-pencil-square-o" aria-hidden="true"></i>Blood Donors
    <% end %>
  </li>
</ul>