<ul class="nav side-menu">
	<% if current_page?(department_dashboard_path(current_staff, current_department)) %>
    <li class="active">
      <%= link_to department_dashboard_path(current_staff, current_department), data: { turbolinks: false} do %>
        <i class="fa fa-home" aria-hidden="true"></i>Dashboard
      <% end %>
    </li>
  <% else %>
    <li>
      <%= link_to department_dashboard_path(current_staff, current_department), data: { turbolinks: false} do %>
        <i class="fa fa-home" aria-hidden="true"></i>Dashboard
      <% end %>
    </li>
  <% end %>
  <li>
    <%= link_to staffs_path, data: { turbolinks: false} do %>
     <i class="fa fa-pencil-square-o" aria-hidden="true"></i>Employees
    <% end %>
  </li>
  <li>
    <%= link_to blood_groups_path, data: { turbolinks: false} do %>
     <i class="fa fa-pencil-square-o" aria-hidden="true"></i>Blood Groups
    <% end %>
  </li>
  <li>
    <%= link_to blood_donors_path, data: { turbolinks: false} do %>
     <i class="fa fa-pencil-square-o" aria-hidden="true"></i>Blood Donors
    <% end %>
  </li>
  <li><a><i class="fa fa-edit"></i> Reports <span class="fa fa-chevron-down"></span></a>
    <ul class="nav child_menu" style="display: none">
    	<% current_department.reports.each do |report| %>
        <li><%= link_to report.name, "/#{report.name.gsub(/\s+/, "").underscore}" %></li>
      <% end %>
    </ul>
  </li>
</ul>