<ul class="nav side-menu">
  <% if current_page?(super_admin_dashboard_path(current_staff)) %>
    <li class="active">
      <%= link_to super_admin_dashboard_path(current_staff), data: { turbolinks: false} do %>
        <i class="fa fa-home" aria-hidden="true"></i>Dashboard
      <% end %>
    </li>
  <% else %>
    <li>
      <%= link_to super_admin_dashboard_path(current_staff), data: { turbolinks: false} do %>
        <i class="fa fa-home" aria-hidden="true"></i>Dashboard
      <% end %>
    </li>
  <% end %>
  <li>
    <%= link_to departments_path, data: { turbolinks: false} do %>
     <i class="fa fa-user" aria-hidden="true"></i>Departments
    <% end %>
  </li>
  <li>
    <%= link_to reports_path, data: { turbolinks: false} do %>
     <i class="fa fa-user" aria-hidden="true"></i>Reports
    <% end %>
  </li>
  <li>
    <%= link_to staffs_path, data: { turbolinks: false} do %>
     <i class="fa fa-user" aria-hidden="true"></i>Staff
    <% end %>
  </li>
  <li>
    <%= link_to admins_path, data: { turbolinks: false} do %>
     <i class="fa fa-user" aria-hidden="true"></i>Admins
    <% end %>
  </li>
  <li>
    <%= link_to super_admins_path, data: { turbolinks: false} do %>
     <i class="fa fa-user" aria-hidden="true"></i>Super Admins
    <% end %>
  </li>
  <li>
    <%= link_to doctors_path, data: { turbolinks: false} do %>
     <i class="fa fa-user" aria-hidden="true"></i>Doctors
    <% end %>
  </li>
  <li>
    <%= link_to nurses_path, data: { turbolinks: false} do %>
     <i class="fa fa-user" aria-hidden="true"></i>Nurses
    <% end %>
  </li>
  <li>
    <%= link_to wards_path, data: { turbolinks: false} do %>
     <i class="fa fa-bed" aria-hidden="true"></i>Wards
    <% end %>
  </li>
  <li>
    <%= link_to rooms_path, data: { turbolinks: false} do %>
     <i class="fa fa-calendar" aria-hidden="true"></i>Rooms
    <% end %>
  </li>
  <li>
    <%= link_to beds_path, data: { turbolinks: false} do %>
     <i class="fa fa-calendar" aria-hidden="true"></i>Beds
    <% end %>
  </li>
</ul>