<ul class="nav side-menu">
  <li class="current-page">
    <%= link_to staff_dashboard_path(current_staff), data: { turbolinks: false} do %>
      <i class="fa fa-home" aria-hidden="true"></i>Dashboard
    <% end %>
  </li>
  <li>
    <%= link_to staffs_path, data: { turbolinks: false} do %>
     <i class="fa fa-pencil-square-o" aria-hidden="true"></i>Staff
    <% end %>
  </li>
  <li>
    <%= link_to doctors_path, data: { turbolinks: false} do %>
     <i class="fa fa-user" aria-hidden="true"></i>Doctors
    <% end %>
  </li>
  <li>
    <%= link_to nurses_path, data: { turbolinks: false} do %>
     <i class="fa fa-user" aria-hidden="true"></i>Nurses
    <% end %>
  </li>
  <li>
    <%= link_to wards_path, data: { turbolinks: false} do %>
     <i class="fa fa-bed" aria-hidden="true"></i>Wards
    <% end %>
  </li>
  <li>
    <%= link_to rooms_path, data: { turbolinks: false} do %>
     <i class="fa fa-calendar" aria-hidden="true"></i>Rooms
    <% end %>
  </li>
  <li>
    <%= link_to beds_path, data: { turbolinks: false} do %>
     <i class="fa fa-calendar" aria-hidden="true"></i>Beds
    <% end %>
  </li>
</ul>