<!DOCTYPE html>
<html>
	<head>
	  <title>HMS</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <%= stylesheet_link_tag "css/custom", media: "all", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag "dataTables.bootstrap4.min", media: "all", "data-turbolinks-track" => true %>
	  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	  <%= javascript_include_tag "gentellela_theme", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
	</head>

<body class="nav-md">
<div class="container body">
  <% flash.each do |key, value| %>
    <div align="center" id="flash" class="alert alert-<%= key %>"><%= value %></div>
  <% end %>

<%= render "layouts/sidenav" %>
<%= render "layouts/topnav" %>

<%= yield %>

  <%= render "layouts/footer" %>
  <%= javascript_include_tag 'js/custom', 'data-turbolinks-track' => true %>
  <script type="text/javascript">
  	$(document).ready(function() {
      $('table.data-table').DataTable();
    });
  </script>

</body>
</html>
