<!DOCTYPE html>
<html>
	<head>
	  <title>HMS</title>
	  <%#= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <%= stylesheet_link_tag "css/pace", media: "all", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag "css/custom", media: "all", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag "css/animate.min", media: "all", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag "css/icheck/flat/green", media: "all", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag "css/normalize", media: "all", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag "css/ion.rangeSlider", media: "all", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag "css/ion.rangeSlider.skinFlat", media: "all", "data-turbolinks-track" => true %>
	  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
	</head>

<body class="nav-md">
<div class="container body">
  <% flash.each do |key, value| %>
      <div align="center" id="flash" class="alert alert-<%= key %>"><%= value %></div>
  <% end %>

<%= render "layouts/sidenav" %>
<%= render "layouts/topnav" %>

<%= yield %>

  <%= render "layouts/footer" %>
  <%= javascript_include_tag 'js/custom', 'data-turbolinks-track' => true %>

</body>
<script type="text/javascript">
  function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}
</script>
</html>
