<!DOCTYPE html>
<html>
	<head>
	  <title>HMS</title>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag "css/custom", media: "all", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag "fullcalendar.print.min", :media => "print", 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag "dataTables.bootstrap4.min", media: "all", "data-turbolinks-track" => true %>
	  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	  <%= javascript_include_tag "gentellela_theme", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
	</head>

<body class="nav-md">
<div class="container body">
<%= render "layouts/sidenav" %>
<%= render "layouts/topnav" %>

<%= yield %>

  <%= render "layouts/footer" %>
  <%= javascript_include_tag 'js/custom', 'data-turbolinks-track' => true %>
  <style type="text/css">
  #slot-booking-modal .modal-content {
  width: 680px;
  margin-left: -90px;
}
.fc-axis{
  width: 45px !important;
}
</style>
<script type="text/javascript">
$( ".select2_dropdown" ).select2({
    theme: "bootstrap"
});

$( ".country_dropdown" ).select2({
    placeholder: "Select a country",
    allowClear: true
});

$( ".state_dropdown" ).select2({
    placeholder: "Select a state",
    allowClear: true
});

$( ".city_dropdown" ).select2({
    placeholder: "Select a city",
    allowClear: true
});

$( ".patient_type_dropdown" ).select2({
    placeholder: "Select patient type",
    width: 'resolve',
    allowClear: true
});

$( ".ward_dropdown" ).select2({
    placeholder: "Select ward",
    width: 'resolve',
    allowClear: true
});

$( ".room_dropdown" ).select2({
    placeholder: "Select room",
    width: 'resolve',
    allowClear: true
});

$( ".bed_dropdown" ).select2({
    placeholder: "Select bed",
    width: 'resolve',
    allowClear: true
});

$( ".payment_type_dropdown" ).select2({
    placeholder: "Paid with",
    width: 'resolve',
    allowClear: true
});

$( ".doctor_dropdown" ).select2({
    placeholder: "Select Doctor",
    width: 'resolve',
    allowClear: true
});

$( ".multiple_doctor_dropdown" ).select2({
    placeholder: "Select Doctors",
    width: 'resolve',
    allowClear: true
});

$( ".nurse_dropdown" ).select2({
    placeholder: "Select Nurse",
    width: 'resolve',
    allowClear: true
});

$( ".lab_test_type_dropdown" ).select2({
    placeholder: "Select Lab tests",
    width: 'resolve',
    allowClear: true
});

$( ".room_type_dropdown" ).select2({
    placeholder: "Select Room Type",
    width: 'resolve',
    allowClear: true
});

$( ".sharing_type_dropdown" ).select2({
    placeholder: "Select type of sharing",
    width: 'resolve',
    allowClear: true
});

$( ".hospital_dropdown" ).select2({
    placeholder: "Select hospital",
    width: 'resolve',
    allowClear: true
});

$( ".incharge_dropdown" ).select2({
    placeholder: "Select incharge",
    width: 'resolve',
    allowClear: true
});

$( ".blood_group_dropdown" ).select2({
    placeholder: "Select Blood Group",
    width: 'resolve',
    allowClear: true
});

//generate states based on country selection
$(".country_dropdown").change(function(){
  var selected_country = $(this).val();
  $.ajax({
    url: "<%= get_states_url %>",
    type: "POST",
    dataType: "json",
    data: {country: selected_country},
    success: function (data) {
      $("#patient_state").empty();
      $('<option value>' + '</option>').appendTo('.state_dropdown');
      $.each( data, function( key, val ) {
        $('<option value="'+ key +'">' + val + '</option>').appendTo('.state_dropdown');
      });
    },
  });
})

//generate cities based on state selection
$(".state_dropdown").change(function(){
  var selected_state = $(this).val();
  var selected_country = $(".country_dropdown").val();
  $.ajax({
    url: "<%= get_cities_url %>",
    type: "POST",
    dataType: "json",
    data: {country: selected_country, state: selected_state},
    success: function (data) {
      console.log(data)
      $(".city_dropdown").empty();
      $('<option value>' + '</option>').appendTo('.city_dropdown');
      $.each( data, function( index, val ) {
        $('<option value="'+ val +'">' + val + '</option>').appendTo('.city_dropdown');
      });
    },
  });
})

//generate rooms based on ward selection
$(".ward_dropdown").change(function(){
  $(".room_dropdown").prop("disabled", false);
  $(".bed_dropdown").prop("disabled", false);
  var selected_ward = $(this).val();
  $.ajax({
    url: "<%= get_rooms_url %>",
    type: "POST",
    dataType: "json",
    data: {ward: selected_ward},
    success: function (data) {
      console.log(data)
      $(".room_dropdown").empty();
      $('<option value>' + '</option>').appendTo('.room_dropdown');
      $.each( data, function( index, value ) {
        $('<option value="'+ value.id +'">' + value.room_with_room_type + '</option>').appendTo('.room_dropdown');
      });
    },
  });
})

//generate beds based on room selection
$(".room_dropdown").change(function(){
  var selected_room = $(this).val();
  $.ajax({
    url: "<%= get_beds_url %>",
    type: "POST",
    dataType: "json",
    data: {room: selected_room},
    success: function (data) {
      $(".bed_dropdown").empty();
      $('<option value>' + '</option>').appendTo('.bed_dropdown');
      $.each( data, function( index, value ) {
        $('<option value="'+ value.id +'">' + value.bed_no + '</option>').appendTo('.bed_dropdown');
      });
    },
  });
})

//show ward,room & bed selection based on patient type selection
$(".patient_type_dropdown").change(function(){
  var selected_type = $(this).val();
  if (selected_type == 'inpatient') {
    $(".ward_dropdown").prop("disabled", false);
    $(".room_dropdown").prop("disabled", false);
    $(".bed_dropdown").prop("disabled", false);
  }
  else{
    $(".ward_dropdown").prop("disabled", true);
    $(".room_dropdown").prop("disabled", true);
    $(".bed_dropdown").prop("disabled", true);
  }
});

//show capacity value based on room type selection
$(".room_type_dropdown").change(function(){
  var selected_type = $(this).val();
  if (selected_type == 'single') {
    $(".bed-capacity").val('1');
    $(".bed-capacity").prop("readonly", true);
  }
  else if (selected_type == 'two_sharing') {
    $(".bed-capacity").val('2');
    $(".bed-capacity").prop("readonly", true);
  }
  else if (selected_type == 'three_sharing') {
    $(".bed-capacity").val('3');
    $(".bed-capacity").prop("readonly", true);
  }
  else if (selected_type == 'four_sharing') {
    $(".bed-capacity").val('4');
    $(".bed-capacity").prop("readonly", true);
  }
  else{
    $(".bed-capacity").val('');
    $(".bed-capacity").prop("readonly", false);
  }
});

 $(document).ready(function() {

    $('#calendar').fullCalendar({
      themeSystem: 'bootstrap4',
      defaultView: 'agendaWeek',
      header: {
        left: 'prev,next',
        center: 'title',
        right: ''
      },
      agendaEventMinHeight: 30,
      allDaySlot: false,
      hiddenDays: [0], // hide Sundays
      minTime: "09:00:00",
      maxTime: "19:00:00",
      navLinks: true, // can click day/week names to navigate views
      selectable: true,
      selectHelper: true,
      select: function(start, end) {
        var selected_val = $('.doctor_dropdown').val();
        //var title = "Doctor appointment";
        if (selected_val == ''){
          alert("Please select a doctor");
          $('#calendar').fullCalendar('unselect');
        }
        else{
          var confirm_msg = confirm("Are you sure you want to book the appointment?");
          var eventData;
          if (confirm_msg) {
            eventData = {
              //title: title,
              start: start,
              end: end
            };
            console.log(eventData)
            $('#calendar').fullCalendar('renderEvent', eventData, true); // stick? = true
            start_time = moment(start).format('YYYY-MM-DD hh:mm:ss');
            end_time = moment(end).format('YYYY-MM-DD hh:mm:ss');
            console.log(start_time)
            console.log(end_time)
            $("#user_start_time").val(start_time);
            $("#user_end_time").val(end_time);
            $("#patient_appointments_attributes_0_start_time").val(start_time);
            $("#patient_appointments_attributes_0_end_time").val(end_time);
          }
          $('#calendar').fullCalendar('unselect');
        }
      },
      editable: true,
      eventLimit: true, // allow "more" link when too many events
    });

  });

</script>
  <script type="text/javascript">
  	$(document).ready(function() {
      $('table.data-table').DataTable();
      $('[data-toggle="tooltip"]').tooltip();
      $('[data-toggle="popover"]').popover();
    });
  </script>

</body>
</html>
