<!DOCTYPE html>
<html>
<head>
<title>PDF</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag "css/custom", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "gentellela_theme", "data-turbolinks-track" => true %>
</head>
<body>

  <div class='container'>
    <%= yield %>
  </div>

</body>
</html>